html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100%;
    min-width: 500px;
    grid-template-columns: 1fr 10px 1.5fr 1fr;
    grid-template-rows: 80px auto 1fr;
    grid-template-areas: 'h h h h'
                         'a1 . s a2'
                         'f f f f'; 
}

header{
    grid-area: h;
}

footer{
    grid-area: f;
    align-self: end;
    display: flex;
    border-top: 1px solid black;
    justify-content: space-between;
    padding: 10px;
    font-size: .9rem;
}

footer div:nth-child(2){
    color: royalblue;
}


.breed{
    grid-area: a1;
    background-color: aliceblue;
    width: 20%;
    min-width: 155px;
    justify-self: end;
}

section{
    grid-area: s;
    display: grid;
    grid-template-areas: 'ps1 pm1 pm1'
                         'ps2 ps3 ps4'
                         'pm2 pm2 ps5'
                         'pb1 pb1 pb1';
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(4, 120px);
    position: relative;
    min-width: 350px;
}

.rating{
    grid-area: a2;
    align-self: start;
    background-color: aliceblue;
    width: 20%;
    min-width: 155px;
    padding: 10px;
}

header h1{
    text-align: center;
}

section .catholder:nth-child(8n-7){
    grid-area: ps1;
}

section .catholder:nth-child(8n-6){
    grid-area: pm1;
}

section .catholder:nth-child(8n-5){
    grid-area: ps2;
}

section .catholder:nth-child(8n-4){
    grid-area: ps3;
}

section .catholder:nth-child(8n-3){
    grid-area: ps4;
}

section .catholder:nth-child(8n-2){
    grid-area: pm2;
}

section .catholder:nth-child(8n-1){
    grid-area: ps5;
}

section .catholder:nth-child(8n){
    grid-area: pb1;
}

.catholder{
    width: 100%;
    height: 100%; 
}

.catpic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}

.breed ul,
.rating ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.breed ul li{
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.breed ul li:hover{
    background-color: grey;
}

input[class=breed_input]{
    display: none;
}

.breed ul li label{
    display:block;
    padding: 10px;
}

#breed1:checked ~ .breed ul li label[for=breed1],
#breed2:checked ~ .breed ul li label[for=breed2],
#breed3:checked ~ .breed ul li label[for=breed3],
#breed4:checked ~ .breed ul li label[for=breed4]{
    background-color: grey;
}

#breed1:checked ~ section #cat2,
#breed1:checked ~ section #cat3,
#breed1:checked ~ section #cat4,
#breed1:checked ~ section #cat5,
#breed1:checked ~ section #cat7,
#breed1:checked ~ section #cat8,
#breed2:checked ~ section #cat1,
#breed2:checked ~ section #cat3,
#breed2:checked ~ section #cat4,
#breed2:checked ~ section #cat5,
#breed2:checked ~ section #cat6,
#breed2:checked ~ section #cat8,
#breed3:checked ~ section #cat1,
#breed3:checked ~ section #cat2,
#breed3:checked ~ section #cat3,
#breed3:checked ~ section #cat6,
#breed3:checked ~ section #cat7,
#breed3:checked ~ section #cat8,
#breed4:checked ~ section #cat1,
#breed4:checked ~ section #cat2,
#breed4:checked ~ section #cat4,
#breed4:checked ~ section #cat5,
#breed4:checked ~ section #cat6,
#breed4:checked ~ section #cat7{
    opacity: .5;
}


.rating > p{
    margin-top: 0;
    text-transform: uppercase;  
    color: red;
}

.rating ul li p{
    margin-bottom: 5px;
}

.rating ul li span{
    float: right;
    font-weight: bold;
    font-size: 1.2rem;
}

meter{
    width: 120px;
}

.rating label{
    font-size: .9rem;
}

input:checked + ul li[data-order="1"]{
    order: 1;
}

input:checked + ul li[data-order="2"]{
    order: 2;
}

input:checked + ul li[data-order="3"]{
    order: 3;
}

input:checked + ul li[data-order="4"]{
    order: 4;
}

.rating input{
    vertical-align: middle;
}


.catholder:hover:before{
    content: attr(data-name);
    position: absolute;
    background: rgba(0.5,0.5,0.5,0.5);
    color: #fff;
    margin-top: 60px;
    font-size: 22px;
    padding: 10px;
}

